.Container {
  position: relative;
}

.Pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.Bullet {
    width: 18px;
    height: 2px;
    margin: 0 3px;
    border-radius: 999px;
    background-color: var(--color-brand-700);
    opacity: 0.35;
    cursor: pointer;
}

.BulletActive {
    width: 36px;
    opacity: 1;
    cursor: default;
}
