.Container {
  position: relative;
}

.Pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.Bullet {
    width: 16px;
    height: 2px;
    margin: 0 2px;
    border-radius: 86px;
    background-color: #0e7490;
    opacity: 0.4;
    cursor: pointer;
}

.BulletActive {
    width: 42px;
    opacity: 1;
    cursor: default;
    cursor: default;
}